/********************************************************************** HEADER ******************************************************************************/

.header{
    width: -webkit-fill-available;
    height: 46px;
    background: #011E4A;
    position: relative;
    z-index: 10;
}

.headerContainer{
	transition: 0.5s;
	color: white;
 	height: -webkit-fill-available;
}

.headerContainer.collapse{
	margin-left: 30px;
	display: block;
}

.headerContainer.noCollapse{
	margin-left: 170px;
	display: block;
}

.collapsibleMenuIconBurger{
	font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    position: fixed;
    top: 8px;
}

.collapsibleMenuIconCross {
	font-size: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.contactWithEvaluator{
    float: right;
    margin-top: 6px;
    margin-right: 52px;
}

.cover {
    position: fixed;
    right: 0;
    top: 46px;
    background: -moz-linear-gradient(top, rgba(1,30,74,1) 0%, rgba(1,30,74,0.91) 14%, rgba(1,30,74,0.7) 45%, rgba(1,30,74,0.33) 100%);
    background: -webkit-linear-gradient(top, rgba(1,30,74,1) 0%,rgba(1,30,74,0.91) 14%,rgba(1,30,74,0.7) 45%,rgba(1,30,74,0.33) 100%);
    background: linear-gradient(to bottom, rgba(1,30,74,1) 0%,rgba(1,30,74,0.91) 14%,rgba(1,30,74,0.7) 45%,rgba(1,30,74,0.33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011e4a', endColorstr='#54011e4a',GradientType=0 );
    z-index: 10;
    width: 300px;
    height: 300px;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    animation: fadein 1s;
}

.cover.contactEvaluator {
    padding: 2em;
}

.cover.selectLanguage {
    padding: 1em;
}

.pContactEvaluator{
    color: white;
    text-align: center;
}

.imgFotoPosition{
    text-align: center;
}

.evaluatorMail{
    color: white;
    font-size: 20px;
}

.imageEvaluator{
    width: 75px;
    padding-bottom: 13px;
    border-radius: 17%;
}

.hideContactEvaluatorCross{
    position: absolute;
    left: 5px;
    top: -5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.languageButton{
    position: absolute;
    top: 9px;
    right: 6px;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.languageButton img{
    width: 30px;
    height: 30px;
}

#selectLanguageContent{
    text-align: center;
    color: white;
}

.languageFlagcontainer{
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.languageFlagcontainer img.selected{
    cursor: pointer;
    border-radius: 12px;
    animation: PulseSelected 1s infinite ease-in-out;;
}

.languageFlagcontainer img:hover{
    cursor: pointer;
    border: solid 1px white;
    border-radius: 12px;
}

.languageFlagcontainer img{
    width: 100%;
    height: 50px;
    transition: all 0.5s;
    border: solid 1px transparent;
}

.languageTittle{
    padding-bottom: 10px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes PulseSelected {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
}




